---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Form successfully submitted.",
	title: "Success",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Form successfully submitted!</h1>
	<p class="mb-8">フォームは正常に送信されました</p>
	<a href="/" class="cactus-link mb-8"> -> back to Top</a>
</PageLayout>
