---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "CUI",
};
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap"
	rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.min.css" />

<PageLayout meta={meta}>
	<div id="app"></div>
</PageLayout>
<script>
	import { Terminal } from "xterm";
	import { FitAddon } from "xterm-addon-fit";
	import { WebLinksAddon } from "xterm-addon-web-links";
	import { Unicode11Addon } from "xterm-addon-unicode11";
	import { ImageAddon } from "xterm-addon-image";
	import { Readline } from "xterm-readline";

	const term = new Terminal({
		fontSize: 16,
		cursorBlink: true,
		allowProposedApi: true,
		fontFamily: "Source Code Pro",
	});

	const fitaddon = new FitAddon();
	const webLinkAddon = new WebLinksAddon();
	const unicode11Addon = new Unicode11Addon();
	const imageAddon = new ImageAddon();
	const rl = new Readline();

	term.open(document.getElementById("app") as HTMLElement);

	[fitaddon, webLinkAddon, unicode11Addon, imageAddon, rl].map((e) => term.loadAddon(e));

	term.focus();
	fitaddon.activate(term);
	webLinkAddon.activate(term);
	unicode11Addon.activate(term);
	imageAddon.activate(term);

	term.unicode.activeVersion = "11";

	term.refresh(0, 0);
	fitaddon.fit();
	window.addEventListener("resize", () => fitaddon.fit());

	function readLine() {
		rl.read("\n$ ").then(processLine);
	}

	async function processLine(text: string) {
		const res = text;
		console.log(res);
		rl.println(res);
		readLine();
	}

	readLine();
</script>
<style>
	#app {
		height: 70vh;
		width: 100%;
		border: 5px double #333333;
		box-sizing: border-box;
	}

	.xterm .xterm-viewport {
		background-color: transparent;
		overflow-y: scroll;
		cursor: default;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		scrollbar-width: var(--highlight) var(--dark);
		scrollbar-width: thin;
	}
</style>
