.terminal {
	height: 60vh;
	width: 100%;
}

.xterm .xterm-viewport {
	background-color: transparent;
	overflow-y: scroll;
	cursor: default;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	scrollbar-width: var(--highlight) var(--dark);
	scrollbar-width: thin;
}
